body {
    background-color: lightblue;
}

h1 {
    margin: 30px;
    padding: 20px;
    font-size: 32px;
    background-color: darkblue;
    color: bisque;
}

main {
    margin: 30px;
    border-width: 50%;
}

main h2{
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

main article {
    margin: 30px;
    padding: 15px;
    border-width: 40%;
    border: 3px;
    background-color: lightgoldenrodyellow;    
}

main article ul li{
    list-style-type: disc;
    list-style-position: inside;
    color: purple;
    vertical-align: top;
}

main section {
    margin: 30px;
    padding: 15px;
    border-width: 40%;
    border: 3px;
    background-color: lightslategrey;
}

main section h2 {
    color: brown;
    font-size: 24px;
}

main section ol li {
    width: 50%;
    list-style-type: number; 
    list-style-position: inside; 
}

