body {
    background-color: lightblue;
}

h1 {
    font-size: 32px;
    background-color: darkblue;
    color: bisque;
}

main article {
    background-color: lightgray;    
}

main article ul li{
    list-style-type: disc;
    list-style-position: inside;
    color: purple;
    vertical-align: top;
}

main section {
    background-color: lightgoldenrodyellow;
}

main section ol li {
    width: 50%;
    list-style-type: number; 
    list-style-position: inside; 
}

