body {
    background-color: lightblue;
}

h1 {
    font-size: 32px;
    background-color: darkblue;
    color: bisque;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    align-items: flex start;
}

